<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=320, height=460, user-scalable=no,
initial-scale=1.0" />
<title>Install Dev App</title>
    <script language="javascript" type="text/javascript">
        // 以下方式直接跳转
        window.location.href='itms-services://?action=download-manifest&url=https://git.oschina.net/applist/DemoPlist/raw/master/zfcreditapp.plist';
        // 以下方式定时跳转
        //setTimeout("javascript:location.href='hello.html'", 5000);
    </script>
</head>
<br/><br/><br/>
<body>
    <div align="center">
        <a id="btnInstallApp" href="itms-services://?action=download-manifest&url=https://git.oschina.net/applist/DemoPlist/raw/master/zfcreditapp.plist"  style="color:orange; font-size:24px">
            凤凰信用</a>
    </div>
</body>
